#LogoMessage {
    float: right;
}

#Footer {
    float:none;
    clear:left;
}

#bottomlogo {
    height: 30px;
}

#UPresentTitle{
    text-align: center;
    text-decoration: underline;
}
























































































































































































#NoteSection {
    float:left;
}
