@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url(http://fonts.googleapis.com/css?family=Montserrat) format("sans-serif");
}

body{
	min-width:1000px;
}

input {
	border:1px solid #2a2a2a;	
	border-radius:4px;
	height:25px;
	width:603px;
	margin-bottom:5px;
}

input#request {
	border:1px solid #2a2a2a;	
	border-radius:4px;
	height:25px;
	width:100px;
	margin-bottom:5px;
}

textarea#message {
	border:1px solid #2a2a2a;
	border-radius:4px;
	height:200px;
	width:600px;
	margin-bottom:5px;
}

