@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url(http://fonts.googleapis.com/css?family=Montserrat) format("sans-serif");
}

*{
    font-family: ;   
}

body{
    background-color: #EDEDED;
    
}

#UPresentTitle{
    text-align: center;
    text-decoration: underline;
}
#PollAdderForm {
    float:left;
}

#LogoMessage {
    float: right;
}

#notes {
    float:left;
}

#SlidesPreview {
    float:left;
    clear:right;
}

#Footer {
    float:right;
}
