@charset "UTF-8";
/* CSS Document */

#logInPane {
	
	width:450px;
	height:50px;
}

#contact {
	margin-left: 100px;
	/*border:1px solid black;*/
	
}

input#request {
	border:1px solid #2a2a2a;	
	border-radius:4px;
	height:25px;
	width:100px;
	margin-bottom:5px;
	margin-left: auto;
}

textarea#message {
	border:1px solid #2a2a2a;
	border-radius:4px;
	height:200px;
	width:600px;
	margin-bottom:5px;
	margin-left:1px;

}

