@charset "UTF-8";
/* CSS Document */

p {
	padding: 0 0 0 0;
	margin:0 0 0 0;	
	text-align:center;
}

#viewer {
	height:360px;	
}

#info {
	float:left;
	width:100px;
	height:400px;
	padding-left:50px;
	padding-right:25px;
}

#slidePane {
	float:left;
	width:700px;
	height:350px;
}

#slide {
	border: 4px solid #000;	
	/*width:100%;*/
	height:100%;
}

#status {
	padding-right:50px;
	padding-left:25px;
	float:right;
	width:100px;	
}

#content {
	text-align:center;
	padding-top:25px;
	height:625px;	
}

.oLine {
	margin:auto;
	width:0px;
	border:1px solid #ededed;
	height:100px;
	padding-top:5px;
}

#status h3 {
	padding-top:40px;	
}

#status h2 {
	padding-bottom:40px;
}

#bottomInfo {
	border-top: 1px solid #FF9F00;
	margin-top:25px;
	height:200px;
}

#bInfoData {
	float:left;
	margin-left:-150px;
	width:500px;
	height:200px;
	text-align:left;
}

#bInfoGraph {
	float:left;
	width:500px;
	height:200px;
	
}

#pollQuestions {
	padding-right:10px;
	padding-left:25px;
}

.submitButton {
	width:50px;
	height:25px;
	background-color:red;
}

.q {
	width:400px;
	height:40px;
	padding-left:20px;
}