@charset "UTF-8";
/* CSS Document */

#logInPane {
	
	width:450px;
	height:50px;
}


#contact {
	margin-top:-20px;
	margin-left:10px;
	
}


input#request {
	border:1px solid #2a2a2a;	
	border-radius:4px;
	height:25px;
	width:100px;
	margin-bottom:5px;
	margin-left: auto;
}

textarea#message {
	border:1px solid #2a2a2a;
	border-radius:4px;
	height:265px;
	width:600px;
	margin-bottom:5px;
	margin-left:1px;
	margin-top: 10px;
	resize: none;
}

#uHead {
	vertical-align: middle;
}
#subHead {
	vertical-align: middle;
}

input#userN {
	float: right;
	margin-right: 12px;
}
input#subject {
	float: right;
	margin-right: 12px;
}
#usernameContact {
	color: blue;
	float: right;
	margin-right: 14px;
	font-weight: bold;
}