#UPresentTitle{
    text-align: center;
    text-decoration: underline;
}
#PollAdderForm {
    float:left;
}

#LogoMessage {
    float: right;
}

#notes {
    
}

#SlidesPreview {
    float:left;
    clear:right;  
    width: 500px;
    height: 350px;
}


#SlidesPreview img {
    margin-top: 50px;
    width:580px;
    left:auto;
    right:auto;
        
}


#Footer {
    float:none;
    clear:left;
}

#bottomlogo {
    height: 30px;
}

#NoteSection {
    width:1050px;
    float:left;
    clear:left;
}



#save {
    float:left;
}
