@charset "UTF-8";
/* CSS Document */

#logInPane {
	width:500px;
	height:100px;
	float:right;
}

#login{
	padding-top:40px;
	padding-left:75px;
}

#info {
	position:fixed;
	width:500px;
	height:300px;
	margin-left:100px;
	margin-top:100px;
	background-color:#6ea56b;
	border:3px solid #2a2a2a;
}

#infoHeader {
	background-color:#2a2a2a;
	padding-left:10px;
	padding-top:10px;
	color:#fff;
	font-size:25px;
	width:auto;
	height:75px;
}

#infoContent {
	color:#000;
	font-size:20px;
	background-color:#6ea56b;
}

#signUpWindow {
	width:250px;
	height:300px;
	margin-top:100px;
	margin-right:100px;
	float:right;
	background-color:#FFF;
	background-color:#6ea56b;
	border:3px solid #2a2a2a;
}

#signUpHeader {
	width:250px;
	height:75px;
	color:#fff;
	font-size:25px;
	text-align:center;
	padding-top:10px;
	background-color:#2a2a2a;	
}

#signUpContent {
	padding-left:45px;
	padding-top:50px;	
}

input {
	border:3px solid #2a2a2a;	
	border-radius:8px;
	height:25px;
	margin-bottom:5px;
}
::-webkit-input-placeholder {
   color: #2a2a2a;
   font-size:12px;
   font-weight:bold;
}