#content {
    height:500px;
}

#LogoMessage {
    float: right;
}

#Footer {
    clear:left;
}

/*#bottomlogo {
    height: 30px;
}*/

#UPresentTitle{
    text-align: center;
    text-decoration: underline;
}

#LeftCol {
    float:left;
    width:700px;
}

/*#RightCol {
    float:right;
    width:400px;
    margin-top:13px;
    margin-right: 100px;

}*/

#Slides {
    margin-left:270px;
    margin-top:40px;
    width:500px;
    height:300px;
}

/*#NoteSection {
    position:relative;
    height:280px;
    width:200px;
    
}

#notes {
    height:250px;
    margin-left:15px;
    margin-top:5px;
}

#notesection {
    height:150px;
    width:455px;
}

#Chat {
    float:left;
    height:300px;
}

#chatHistory {
    float:left;
    margin-top:5px;
    height:300px;
    width:408px;
}

#chatInput {
    float:left;
    margin-top:4px;
    height:20px;
}

#chatSubmit {
    float: right;
    height: 30px;
    width: 100px;
}*/

/*#vline {
    border: 1px solid #2a2a2a;
    width: 0px;
    height: 370px;
    float: left;
    margin-left: 26px;
    margin-top: 20px;
}*/

#Options {
    float:left;
    margin-left:-300px;
    margin-top:320px;
}

#contactPresenter {
    float:right;
    margin-top:-30px;
}