#content {
	height:460px;
	width:660px;
	margin-top:0px;
	/*margin-bottom:30px;*/
	background-color:#CCC;
	

}

#terms {
	width:660px;
	height:460px;
	margin-left:0px;
	background-color:white;

}

#infoHeader {
	height:30px;
	width:200px;
	padding-left:27px;
	padding-top:40px;
	margin-left:18px;
}

#infoContent {
	margin-top:15px;
	padding:25px;
	margin-left:20px;

}