#content {
	height:460px;
	width:660px;
	margin-top:30px;
	margin-bottom:30px;
	padding:10px;
	background-color:#CCC;

}

#terms {
	width:655px;
	height:455px;
	margin-left:4px;
	margin-top:4px;
	background-color:white;

}

#infoHeader {
	height:30px;
	width:200px;
	padding-left:27px;
	padding-top:40px;
	margin-left:18px;
}

#infoContent {
	margin-top:15px;
	padding:25px;
	margin-left:20px;

}