@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url(http://fonts.googleapis.com/css?family=Montserrat) format("sans-serif");
}

body{
	min-width:1000px;
}

#header {
	margin:auto;
	width:1000px;
	height:100px;
	background-color:#4486f7;
	border-bottom:3px solid #2a2a2a;
}

#headerS {
	margin:auto;
	width:1000px;
	height:50px;
	background-color:#4486f7;
	border-bottom:3px solid #2a2a2a;
}

#navButtons {
	float:right;
	width:400px;
	height:50px;
}

#navButtons div {
	width:100px;
	height:45px;
	display:inline-block;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align:center;
}

#navButtons div:hover {
	border-bottom: 5px solid white;	
}

#navButtons div a {
	color:white;
	text-decoration:none;
	font-size:25px;	
}

#logo {
	padding-left:50px;	
}

#top {
	width:auto;
}

#content {
	position:relative;
	margin:auto;
	width:1000px;
	height:500px;
	background-color:#ededed;
}

#middle {
	width:auto;
}

#footer {
	margin:auto;
	height:50px;
	width:1000px;
	color:#fff;
	font-size:20px;
	text-align:center;
	border-top:3px solid #2a2a2a;
	background-color:#4486f7;
}

#bottom {
	width:auto;
}

/*
gray - 2a2a2a
blue - 4486f7
green - 6ea56b
*/