@charset "UTF-8";
/* CSS Document */

#viewer {
	height:425px;	
}

#info {
	float:left;
	width:100px;
	padding-left:25px;
	padding-right:25px;
}

#slidePane {
	float:left;
	width:700px;
	height:394px;
	background-color:yellow;
}

#slide {
	border: 4px solid #000;	
	width:100%;
	height:100%;
}

#status {
	padding-right:25px;
	padding-left:25px;
	float:right;
	width:100px;	
}

#content {
	text-align:center;
	padding-top:25px;
	height:600px;	
}

#tabs {
	background-color:#ededed;	
}

#poll {
	width:300px;
	height:100px;
	float:right;
	background-color:yellow;
}

#pollResults {
	width:300px;
	height:100px;
	float:left;
	background-color:red;
}


/*styling for the tabs*/
.ui-tabs-vertical {
	width: 950px;
	margin-left:20px;
}
.ui-tabs-vertical .ui-tabs-nav {
	background-color:#ededed;
	border: none;
	padding: .2em .1em .2em .2em;
	float: left;
	width: 85px;
	height:50px;
}
.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	background-color:#4486f7;
	color:white;
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 40em;
	background-color:red;
}
/*end styling for the tabs*/