@charset "UTF-8";
/*@font-face {
	font-family: Arial;
  font-family: "Montserrat";
  src: url(http://fonts.googleapis.com/css?family=Montserrat) format("sans-serif");
}*/

body {
	background-color: #EDEDED;
	padding: 0px;
	margin: 0px;
	font-family: Arial;
}

#logInPane {
	width:500px;
	height:100px;
	float:right;
}
#login {
	padding-top:40px;
	margin-top: -30px;
	float:right;
}
#login input {
	height: 20px;
}
#logout {
	text-align: center;
	color:#ededed;
	margin-top: 10px;
	float:right;
}
#logoutUsername {
	color: #ff9f00;
}

input {
	border:1px solid #2a2a2a;	
	border-radius:2px;
	height:25px;
	margin-bottom:5px;
}
::-webkit-input-placeholder {
   color: #2a2a2a;
   font-size:12px;
   font-weight:bold;
}

img#logo {
	height: 50px;
	width: 48px;
	margin-left: -20px;
}
#header {
	margin:auto;
	width:100%;
	min-width:1050px;
	height:50px;
	/*background-color:#275d43;*/
	background-color:#2C17B1;
	border-bottom:5px solid #FF9F00;
}

#insideHeader {
	width: 1050px;
	margin-left: auto; 
	margin-right: auto;
}

/*deprecated*/
#headerS {
	margin:auto;
	width:1000px;
	height:50px;
	background-color:#4486f7;
	border-bottom:3px solid #2a2a2a;
}

#navButtons {
	float:right;
	width:400px;
	height:50px;
}

#navButtons div {
	width:100px;
	height:45px;
	display:inline-block;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align:center;
}

#navButtons div:hover {
	border-bottom: 5px solid white;	
}

#navButtons div a {
	color:white;
	text-decoration:none;
	font-size:25px;	
}

#logo {
	padding-left:50px;	
}

#top {
	width:auto;
}

#content {
	padding-top:25px;
	position:relative;
	margin:auto;
	width:1050px;
	height:600px;
	background-color:#ededed;
}

#middle {
	width:auto;
}

#footer {
	margin:auto;
	height:50px;
	width:1050px;
	color:#000000;
	font-size:17px;
	text-align:center;
	border-top:2px solid #2a2a2a;
	font-family: Arial;
}

#bottom {
	width:auto;
}

/*
gray - 2a2a2a
blue - 4486f7
green - 6ea56b
*/

input {
	border:2px solid #2a2a2a;	
	border-radius:8px;
	height:25px;
	margin-bottom:5px;
}
::-webkit-input-placeholder {
   color: #2a2a2a;
   font-size:12px;
   font-weight:bold;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}