@charset "UTF-8";
/* CSS Document */

h1 {
	padding-left:10%;
}

label {
	display:inline-block;
	float:left;
	clear:left;
	width:75px;
	padding-top:3px;
	text-align:left;
}

#block {
	height:240px;
	width:700px;
	border:2px solid #2a2a2a;
	border-bottom:none;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}

#info {
	position:relative;
	float:left;
	padding-top:50px;
	padding-left: 5%;
	height:70%;
	width:275px;
	text-align:left;
}

#fileinfo {
	position:relative;
	float:right;
	padding-right:50px;
	height: 70%;
	width:275px;
	text-align:center;
}

#bottomBlock {
	width:700px;
	height:45px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	border: 2px solid #2a2a2a;
	border-top:none;
}

#buttons {
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:45px;
}

#divider {
	margin-top:20px;
	height:200px;
}

div#errBox {
	color: red;
	margin-top: 30px;
}