/* INV VIEWER WINDOW START */
div#fadeout {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 99;
}
div#invContainer {
    position: fixed;
    height: 600px;
    width: 900px;
    top: 50px;
    background-color: #ededed;
    z-index: 100;
}
div#userSearch {
    height: 600px;
    float: left;
    margin-top: 30px;
    width: 449px;
}
    div#userSearch div#searchBar {
        margin-top: 25px;
        margin-left: 23px;
    }
    div#userSearch span {   
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }
    input#searchBox {
        border: 1px solid #2a2a2a;
        border-radius: 8px;
        width: 378px;
        height: 20px
    }
    img[src="img/searchBtn.png"] {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        cursor: pointer;
    }

div#vertbar {
    width: 2px;
    background-color: grey;
    height: 550px;
    margin-top: 25px;
    margin-left:auto;
    margin-right:auto;
    
}

div#groups {
    height: 600px;
    float: right;
    margin-top: -545px;
    
    width: 449px;
}
    div#groups div#searchBar {
        margin-left: 23px;
        padding-top: 25px;
    }
        div#groups span {
            font-weight:bold;
        }
        input#groupBox {
            border: 1px solid #2a2a2a;
            border-radius: 8px;
            width: 378px;
            height: 20px;
        }
        img[src="img/plusBtn.png"] {
            margin-left: 5px;
            vertical-align: middle;
            cursor: pointer;
        }

div#tableHolder {
    height: 440px;
    width: 400px;
    /*border: 2px groove threedface;*/
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
div#tableHolder table {
    text-align:center;  
    /*border:1px solid #2a2a2a;*/
    width:385px;
    background-color: #ffffff;
}
    th {
        font-size: 15px;
        color:black;
        background-color:#CCC;  
    }
    .header {
        font-weight: bold;
    }
    tr {
        height: 20px;
    }
    td {
        
    }
    tr:nth-child(odd) {
        background-color: #ededed;
    }
    tr:nth-child(even) {
        background-color: #ffffff;
    }
    .fName {
        width: 50px;
        text-align: left;
    }
    .lName {
        width: 50px;
        text-align: left;
    }
    .username {
        width: 50px;
        text-align:right;
    }
    .addToGroup {
        width: 25px;
        text-align: center;
        vertical-align: middle;
    }
        .addToGroup img[src="img/plusBtn.png"] {
            width: 13px;
            height: 13px;
            cursor: pointer;
        }
div#groupTable {
    /*border: 2px groove threedface;*/
    width: 370px;
    height: 410px;
    padding:15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    overflow-y: auto;
}
    div#gName {
        
    }
    div#uName {
        padding-left: 30px;    
    }
    img[src="img/minusBtn.png"] {
        width: 12px;
        height: 12px;
        padding-right: 2px;
        cursor: pointer;
    }
    img[src="img/trash.png"] {
        width: 13px;
        height: 13px;
        float: right;
        cursor: pointer;
    }
    img#groupTrash {
        float: left;
    }

input#cancel {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
input#done {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
div#uErr {
    position: absolute;
    bottom: 19px;
    left: 80px;
    color: red;
}
div#gErr {
    position: absolute;
    bottom: 19px;
    right: 80px;
    color: red;
}
input[type="radio"] {
    /*float: right;*/
    vertical-align: middle;
}
/* INV VIEWER WINDOW END */

#UPresentTitle {
    text-align: center;
    text-decoration: underline;
}
#LogoMessage {
    float: right;
}

#SlidesPreview {
    float:left;
    clear:right;  
    width: 500px;
    height: 350px;
}


#SlidesPreview img {
    margin-top: 50px;
    width:580px;
    left:auto;
    right:auto;
        
}


#Footer {
    float:none;
    clear:left;
}

#bottomlogo {
    height: 30px;
}




#save {
    float:left;
}
input#inv {
    float: left;
}
input#saveUPresent {
    float: right;
}

/*Poll CSS */

#PollAdderForm {
    float:left;
    width: 940px;
    background-color: #FFFFFF;
    padding: 4px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    font-size: 1.0em;

    margin-left: 43px;
}
div#PollInfo {
    float: right;  
    width: 500px;
    height: 385px;
    
}
    fieldset {
        width: 100%;
        height: 100%;
    }

div#saveSubmit {
    width: 950px;
    height: 100px;
    padding-top: 20px;
    margin-left: 43px;
}

div#poll {
    background-color: #FFFFFF;
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
}
div#pollHead {
    background-color: #cccccc;
    height: 48px;
    width: 100%;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    margin-bottom: 10px;
}
div#pollTitle {
    background-color: #ffffff;
    height: 40px;
    position:relative;
    width: 200px;
    top: 8px;
    left: 5px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 25px;
    border-radius: 4px 4px 0px 0px;
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: none;
    border-left: 1px solid #aaaaaa;
    text-align: center;
}
    div#pollTitle span {
        display:inline-block; 
        vertical-align:middle
    }
    div#PollAdderForm input[type=text] {
        width: 600px;
    }
    div#pollContainer {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        font-size: 1.2em;
    }
    div#pollContainer label {
        margin-left: -1px;
    }
    input#PollQuestion {
        margin-left:17px;
    }
    input#showGraph {
        vertical-align: middle;
    }

div#carousel {
    margin-left: 39px;
}