@charset "UTF-8";
/* CSS Document */

#profile {
	border:1px solid #2a2a2a;
	float:left;
	margin-left:175px;
	margin-top:20px;
	padding-left:8px;
	padding-top:18px;
	width:700px;
	height:225px;
	background-color:white;
	
}

label {
	display:inline-block;
	float:left;
	clear:left;
	width:150px;
	padding-top:3px;
	text-align: left;
}

input {
	width:200px;

}

