/* INV VIEWER WINDOW START */
div#fadeout {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 99;
}
div#invContainer {
    position: fixed;
    height: 600px;
    width: 900px;
    top: 50px;
    background-color: #ededed;
    z-index: 100;
}
div#userSearch {
    height: 600px;
    float: left;
    
    width: 449px;
}
    div#userSearch div#SearchBar {

    }
    div#userSearch span {   
        margin-left: 50px;
    }
    input#searchBox {
        border: 2px solid #2a2a2a;
        border-radius: 8px;
    }
    img[src="img/searchBtn.png"] {
        width: 35px;
        height: 35px;
        margin-top: -30px;
    }
    div#searchResults {

    }

div#vertbar {
    width: 2px;
    background-color: grey;
    height: 550px;
    margin-top: 25px;
    margin-left:auto;
    margin-right:auto;
    
}

div#groups {
    height: 600px;
    float: right;
    margin-top: -550px;
    
    width: 449px;
}
    div#groups div#searchBar {
        display:inline;
        margin-left: auto;
        margin-right: auto;
        left: 50px;
    }
        div#groups span {
            margin-left: 50px;
        }
        input#groupBox {
            display: inline;
            border: 2px solid #2a2a2a;
            border-radius: 8px;
        }
        img[src="img/plusBtn.jpg"] {
    
        }
    div#groupInfo {

    }

div#TableHolder table {
    font-size: 12px;
    text-align:center;  
    border:1px solid #2a2a2a;
    overflow:auto;

    width:400px;
    margin-left: 50px;
    height:300px;
    background-color: #ffffff;
}
    th {
        font-size: 15px;
        color:black;
        background-color:#CCC;  
    }

    td {
        height:30px;
    }
    tr:nth-child(odd) {
        background-color: #ededed;
    }
    tr:nth-child(even) {
        background-color: #ffffff;
    }
/* INV VIEWER WINDOW END */

#UPresentTitle {
    text-align: center;
    text-decoration: underline;
}
#PollAdderForm {
    float:left;
}

#LogoMessage {
    float: right;
}

#notes {
    
}

#SlidesPreview {
    float:left;
    clear:right;  
    width: 500px;
    height: 350px;
}


#SlidesPreview img {
    margin-top: 50px;
    width:580px;
    left:auto;
    right:auto;
        
}


#Footer {
    float:none;
    clear:left;
}

#bottomlogo {
    height: 30px;
}

#NoteSection {
    width:1050px;
    float:left;
    clear:left;
}



#save {
    float:left;
}
