@charset "UTF-8";
/* CSS Document */

p {
	padding: 0 0 0 0;
	margin:0 0 0 0;	
	text-align:center;
}

#viewer {
	height:360px;
	
}

#info {
	float:left;
	width:100px;
	height:350px;
	padding-left:30px;
	padding-right:30px;
	margin-top:4px;
	margin-right:10px;
	
}

#slidePane {
	float:left;
	margin-top:4px;
	width:700px;
	height:350px;
}

#slide {
	border: 4px solid #000;	
	/*width:100%;*/
	height:100%;
}

#status {
	position:relative;
	padding-right:30px;
	padding-left:30px;
	margin-top:4px;
	margin-left:882px;
	/*float:right;*/
	width:100px;	
	height:350px;
	
}

#content {
	text-align:center;
	padding-top:25px;
	width:1050px;
	height:700px;	
	background-color: white;
	overflow: visible !important;
}

.oLine {
	margin:auto;
	width:0px;
	border:1px solid #ededed;
	height:100px;
	padding-top:5px;
}

#status h3 {
	padding-top:40px;	
}

#status h2 {
	padding-bottom:40px;
}

#bottomInfo {
	border-top: 1px solid #FF9F00;
	margin-top:25px;
	height:200px;
	border:1px solid black;
}

#bInfoData {
	float:left;
	margin-left:-175px;
	width:525px;
	height:200px;
	text-align:left;
	display:none;
}

#bInfoGraph {
	float:left;
	width:525px;
	height:200px;
	
}

#pollQuestions {
	padding-right:10px;
	padding-left:25px;
}

.submitButton {
	width:50px;
	height:25px;
	background-color:red;
}

.q {
	width:400px;
	height:40px;
	padding-left:20px;
	font-size:15px;
}

.question {
	font-size: 20px;
}