@charset "UTF-8";
/* CSS Document */


#info {
	width:500px;
	height:350px;
	margin-left:100px;
	margin-top:50px;
	float:left;
}

#infoHeader {
	padding-top:10px;
	font-size:25px;
	width:auto;
	
}

#infoContent {
	color:#000;
	font-size:20px;
	padding-top:10px;
}

#info img {
	margin-left:50px;
	margin-top:20px;
}

#signUpWindow {
	width:250px;
	height:300px;
	margin-top:50px;
	margin-right:100px;
	float:right;
}

#signUpHeader {
	width:250px;
	font-size:25px;
	text-align:center;	
}

#signUpContent {
	padding-left:45px;
	padding-top:10px;	
}

input {
	border:3px solid #2a2a2a;	
	border-radius:8px;
	height:25px;
	margin-bottom:5px;
}
::-webkit-input-placeholder {
   color: #2a2a2a;
   font-size:12px;
   font-weight:bold;
}

