/**styles_newGroup.css*/

#search {
	margin-top:50px;

}

#groupinfo {
	margin-left:-40px;
	margin-top:10px;
	margin-bottom:40px;
	height:490px;
	width:1100px;
	border:1px solid #2a2a2a;
	padding-left:30px;
	padding-top:30px;
	padding-right:30px;
	background-color:white;
}

#users {
	float:left;
	margin-top:20px;
	height:320px;
	width:500px;
}

#added {
	float:right;
	margin-top:20px;
	height:320px;
	width:520px;
}

#sections {
	height:30px;
}

.userdata {

}

tr:first-child {
	background-color:#CCC;	
	border-bottom:1px solid #2a2a2a;
}

tr:nth-child(odd) {
    background-color: #ededed;
}

td {
	height:20px;
}